langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.4
sentence-transformers==3.1.1
chromadb==0.5.15
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.3.0
evaluate==0.4.3
rouge-score==0.1.2
bert-score==0.3.13
pandas==2.2.3
tqdm==4.66.5